@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Forum';
   src: url('/fonts/Forum-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Gadugi';
   src: url('/fonts/Gadugi/gadugi-normal.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Gadugi';
   src: url('/fonts/Gadugi/gadugi-bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Noto Serif Oriya';
   src: url('/fonts/NotoSerifOriya/NotoSerifOriya-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Noto Serif Oriya';
   src: url('/fonts/NotoSerifOriya/NotoSerifOriya-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Noto Serif Oriya';
   src: url('/fonts/NotoSerifOriya/NotoSerifOriya-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Retro Signature';
   src: url('/fonts/RetroSignature.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   font-preload: true;
   unicode-range: U+0020-007F;
}

@layer base {
   :root {
      --radius: 0.5rem;
      --font-primary: 'Raleway', sans-serif;
      --font-secondary: 'Montserrat', sans-serif;
   }
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font-primary);
   background-color: theme('colors.support07');
}

body * {
   box-sizing: inherit;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body *:after,
body *:before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
}

body,
input,
textarea {
   input[type='number']::-webkit-inner-spin-,
   input[type='number']::-webkit-outer-spin- {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type='number'] {
      -moz-appearance: textfield !important;
      appearance: textfield !important;
   }
}

input:-webkit-autofill::first-line {
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-background-clip: text;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 0 transparent inset;
   -webkit-text-fill-color: black;
}

input {
   caret-color: black;
}

::-webkit-scrollbar {
   width: 0px;
   z-index: 1;

   &-thumb {
      cursor: pointer;
      border-radius: 8px;
      background: #c5c5c5;
   }
}

.animate-green {
   will-change: box-shadow;
   animation: green-pulse 2s infinite;
}

@keyframes green-pulse {
   0% {
      box-shadow: 0 0 0 0 rgba(11, 169, 91, 0.25);
   }

   70% {
      box-shadow: 0 0 0 8px rgba(11, 169, 91, 0);
   }
}

@layer components {
   .loader {
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid transparent;
      width: 16px;
      height: 16px;
      border-radius: 50%;
   }

   .animation-spin {
      animation: spin 0.75s linear infinite;
   }

   @keyframes spin {
      from {
         transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
         transform: translate(-50%, -50%) rotate(360deg);
      }
   }
}
