@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Forum";
  src: url("/fonts/Forum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gadugi";
  src: url("/fonts/Gadugi/gadugi-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gadugi";
  src: url("/fonts/Gadugi/gadugi-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Oriya";
  src: url("/fonts/NotoSerifOriya/NotoSerifOriya-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Oriya";
  src: url("/fonts/NotoSerifOriya/NotoSerifOriya-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Oriya";
  src: url("/fonts/NotoSerifOriya/NotoSerifOriya-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Retro Signature";
  src: url("/fonts/RetroSignature.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 1rem "Inter", sans-serif;
}

body * {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *:after,
body *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body,
input,
textarea {
  input[type="number"]::-webkit-inner-spin-,
  input[type="number"]::-webkit-outer-spin- {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}

input:-webkit-autofill::first-line {
  background-color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  -webkit-text-fill-color: white;
}

input {
  caret-color: black;
}

::-webkit-scrollbar {
  width: 0px;
  z-index: 1;

  &-thumb {
    cursor: pointer;
    border-radius: 8px;
    background: #c5c5c5;
  }
}
